sma_sb_modbus_flow.json
[{"id":"f0e8bcb28fdaad9c","type":"tab","label":"ModBusv2","disabled":false,"info":"","env":[]},{"id":"8017df57fb1ad151","type":"inject","z":"f0e8bcb28fdaad9c","name":"1min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"asdasd","payload":"","payloadType":"date","x":150,"y":420,"wires":[["f229d069d691bc2f","db2b6a4eb9d22365","f538c0e6466b0c0b"]]},{"id":"171314152ccc45e1","type":"cronplus","z":"f0e8bcb28fdaad9c","name":"CronSolar","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"Amanecer","payloadType":"bool","payload":"true","expressionType":"solar","expression":"0 * * * * * *","location":"38.36035393204473 -0.6736235624703113","offset":"0","solarType":"selected","solarEvents":"sunrise"},{"name":"schedule2","topic":"Atardecer","payloadType":"bool","payload":"true","expressionType":"solar","expression":"0 * * * * * *","location":"38.36035393204473 -0.6736235624703113","offset":"0","solarType":"selected","solarEvents":"sunset"}],"x":120,"y":80,"wires":[["1fa6e22aa679e67b"]]},{"id":"4d2454630f6066d0","type":"modbus-flex-getter","z":"f0e8bcb28fdaad9c","name":"Grid","showStatusActivities":true,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"69db8218ce1be0cc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":590,"y":280,"wires":[[],["3bf4e59a7d56ae51"]]},{"id":"f229d069d691bc2f","type":"function","z":"f0e8bcb28fdaad9c","name":"","func":"var day = flow.get('day') || 0;\n\nif (day==true){\n    msg.payload = { \n        value: msg.payload, \n        'fc': 3, \n        'unitid': 3, \n        'address': 30775, \n        'quantity': 100 \n    } \n}else{ \n    msg.payload=null\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":305,"y":280,"wires":[["a9f08e95e7399898"]],"l":false},{"id":"db2b6a4eb9d22365","type":"function","z":"f0e8bcb28fdaad9c","name":"","func":"var day = flow.get('day') || 0;\n\nif (day == true) {\n    msg.payload = {\n        value: msg.payload,\n        'fc': 3,\n        'unitid': 3,\n        'address': 30769,\n        'quantity': 10 \n    }\n} else {\n    msg.payload = null\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":305,"y":360,"wires":[["81fe0d6b90c250fb"]],"l":false},{"id":"3bf4e59a7d56ae51","type":"buffer-parser","z":"f0e8bcb28fdaad9c","name":"Conversor","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int32be","name":"GridMs.TotW","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int32be","name":"GridMs.W.phsA","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32be","name":"GridMs.PhV.phsA","offset":16,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32be","name":"GridMs.TotA","offset":40,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"GridMs.Hz","offset":56,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int32be","name":"GridMs.TotVAr","offset":60,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int32be","name":"GridMs.VAr.phsA","offset":64,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int32be","name":"GridMs.TotVA","offset":76,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int32be","name":"GridMs.VA.phsA","offset":80,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":830,"y":280,"wires":[["f9b10a4047be0b8b"]]},{"id":"2c351230775cb2c2","type":"buffer-parser","z":"f0e8bcb28fdaad9c","name":"Conversor","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int32be","name":"DcBMs.Amp","offset":0,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"int32be","name":"DcBMs.Vol","offset":4,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int32be","name":"DcBMs.Watt","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":840,"y":440,"wires":[["f9b10a4047be0b8b"]]},{"id":"0d9354944ace43fc","type":"buffer-parser","z":"f0e8bcb28fdaad9c","name":"Conversor","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int32be","name":"DcAMs.Amp","offset":0,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"int32be","name":"DcAMs.Vol","offset":4,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int32be","name":"DcAMs.Watt","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":840,"y":360,"wires":[["f9b10a4047be0b8b"]]},{"id":"f9b10a4047be0b8b","type":"join","z":"f0e8bcb28fdaad9c","name":"Union mensajes","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1140,"y":380,"wires":[["07712ecd8c6ba1bf","ca2bcceed9320ee2"]]},{"id":"46936cd6c79de340","type":"buffer-parser","z":"f0e8bcb28fdaad9c","name":"Conversor","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32be","name":"Meter_A","offset":0,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32be","name":"Meter_W_Injection","offset":12,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32be","name":"Meter_WInA","offset":24,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":590,"y":620,"wires":[["07712ecd8c6ba1bf","ca2bcceed9320ee2"]]},{"id":"e4e4efd8fb07a6e5","type":"modbus-flex-getter","z":"f0e8bcb28fdaad9c","name":"StringA_CC","showStatusActivities":true,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"69db8218ce1be0cc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":600,"y":360,"wires":[[],["0d9354944ace43fc"]]},{"id":"f538c0e6466b0c0b","type":"function","z":"f0e8bcb28fdaad9c","name":"","func":"var day = flow.get('day') || 0;\n\nif (day == true) {\n    msg.payload = {\n        value: msg.payload,\n        'fc': 3,\n        'unitid': 3,\n        'address': 30957,\n        'quantity': 12 \n    }\n} else {\n    msg.payload = null\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":305,"y":440,"wires":[["29d2a398e4425e40"]],"l":false},{"id":"1c528a97f152c8e1","type":"modbus-flex-getter","z":"f0e8bcb28fdaad9c","name":"StringB_CC","showStatusActivities":true,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"69db8218ce1be0cc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":600,"y":440,"wires":[[],["2c351230775cb2c2"]]},{"id":"07712ecd8c6ba1bf","type":"influxdb out","z":"f0e8bcb28fdaad9c","influxdb":"ad3ca0f020f2b6c5","name":"SMA","measurement":"SMA","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1410,"y":420,"wires":[]},{"id":"1fa6e22aa679e67b","type":"function","z":"f0e8bcb28fdaad9c","name":"Set day variable with solar events","func":"var day = flow.get('day') || 0;\nif (msg.topic ==\"Amanecer\"){\n    flow.set('day', true)\n    node.log('Day variable se to True')\n}\nif (msg.topic ==\"Atardecer\"){\n    flow.set('day', false)\n    node.log('Day variable se to False')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":80,"wires":[[]]},{"id":"a9f08e95e7399898","type":"switch","z":"f0e8bcb28fdaad9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":280,"wires":[["4d2454630f6066d0"]]},{"id":"81fe0d6b90c250fb","type":"switch","z":"f0e8bcb28fdaad9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":419.8833312988281,"y":357.8833312988281,"wires":[["e4e4efd8fb07a6e5"]]},{"id":"29d2a398e4425e40","type":"switch","z":"f0e8bcb28fdaad9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":440,"wires":[["1c528a97f152c8e1"]]},{"id":"b810ce10f79492e1","type":"function","z":"f0e8bcb28fdaad9c","name":"Change day variable","func":"var day = flow.get('day') || 0;\nif(day==true){\n    flow.set('day', false)\n    msg.payload='False'\n    node.log('Day variable se to False')\n}else{\n    flow.set('day', true)\n    msg.payload = 'True'\n    node.log('Day variable se to True')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":120,"wires":[[]]},{"id":"bfad1733d1b58cba","type":"inject","z":"f0e8bcb28fdaad9c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":900,"y":120,"wires":[["b810ce10f79492e1"]]},{"id":"f0fb46721b22e7bd","type":"comment","z":"f0e8bcb28fdaad9c","name":"Manual change day variable","info":"","x":940,"y":60,"wires":[]},{"id":"6ed4b240935e9d43","type":"modbus-read","z":"f0e8bcb28fdaad9c","name":"Meter","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"3","dataType":"HoldingRegister","adr":"31253","quantity":"32","rate":"1","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"69db8218ce1be0cc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":310,"y":620,"wires":[[],["46936cd6c79de340"]]},{"id":"e59c800f40e6ac37","type":"comment","z":"f0e8bcb28fdaad9c","name":"Only works during day","info":"","x":140,"y":360,"wires":[]},{"id":"3dded5fdd3ee0230","type":"comment","z":"f0e8bcb28fdaad9c","name":"Always polling","info":"","x":130,"y":540,"wires":[]},{"id":"ca2bcceed9320ee2","type":"debug","z":"f0e8bcb28fdaad9c","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":560,"wires":[]},{"id":"69db8218ce1be0cc","type":"modbus-client","name":"SMA ","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.100.33","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"3","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":true},{"id":"ad3ca0f020f2b6c5","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"SMA","name":"Influx SMA","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true,"credentials":{}}]
